.singel-course{
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.singel-course > .thum{
  position: relative;
}
.singel-course .thum .image{
  overflow: hidden;
}
.singel-course .thum .image img{
  width: 100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.singel-course:hover .thum .image img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.singel-course .thum .price{
  position: absolute;
  right: 60px;
  bottom: -24px;
}
.singel-course .thum .price span{
  font-size: 14px;
  color: #07294d;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  background-color: #ffc600;
  text-align: center;
}
.singel-course .cont{
  padding-top: 28px;
  padding-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;
}
.singel-course .cont > ul{
  display: inline-block;
  margin-right: 10px;
}
.singel-course .cont ul li{
  display: inline-block;
  margin: 1px;
}
.singel-course .cont ul li > i{
  font-size: 13px;
  color: #ffc600;
}

.singel-course .cont span{
  font-size: 13px;
  color: #000;
}
.singel-course .cont h4{
  font-weight: 600;
  font-size: 24px;
  color: #000;
  padding-top: 15px;
  padding-bottom: 40px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.singel-course .cont h4:hover{
  color: #ffc600;
}

.singel-course .course-teacher{
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  overflow: hidden;
}
.singel-course .course-teacher > .thum{
  display: inline-block;
}
.singel-course .course-teacher > .thum img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.singel-course .course-teacher .name {
display: inline-block;
margin-left: 10px;
position: relative;
bottom: 13px;
}
.singel-course .course-teacher .name a h6{
  font-size: 15px;
  color: #24486e;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.singel-course .course-teacher .name a:hover h6{
  color: #ffc600;
}

.singel-course .course-teacher .admin{
  display: inline-block;
  overflow: hidden;
}
.singel-course .course-teacher .admin ul {
margin-top: 8px;
}
.singel-course .course-teacher .admin ul li{
  margin-right: 20px;
}
.singel-course .course-teacher .admin ul li:last-child{
  margin-right: 0;
}
.singel-course .course-teacher .admin ul li a{
  font-size: 15px;
  color: #8a8a8a;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.singel-course .course-teacher .admin ul li a:hover{
  color: #ffc600;
}

.singel-course .course-teacher .admin ul li a span{
  color: #8a8a8a;
  margin-left: 3px;
}

.course-slied .slick-arrow {
position: absolute;
top: -125px;
right: 0;
}
.course-slied .prev.slick-arrow{
  left: auto;
  right: 50px;
}
.course-slied .slick-arrow i{
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 5px;
  color: #000;
  border: 2px solid #aaaaaa;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.course-slied .slick-arrow:hover i{
  border-color: #ffc600;
  background-color: #ffc600;
}
