.color-1{
  background-color: #4886ff;
}
.color-2{
  background-color: #b5d56a;
}
.color-3{
  background-color: #ff6f6f;
}

.category{
  background-color: #07294d;
  border-radius: 10px;
  margin-top: -150px;
  position: relative;
  z-index: 5;
}


.category-text h2{
  font-size: 36px;
  color: #fff;
  padding: 0 50px;
}

.singel-category {
padding: 20px 0;
border-radius: 5px;
display: block;
}
.singel-category .icon{
  display: inline-block;
}
.singel-category .cont {
display: block;
}
.singel-category .cont span{
  color: #fff;
  font-size: 18px;
  padding-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.category-slied a{
  display: block;
}
.category-slied .slick-arrow {
position: absolute;
margin-left: 50px;
top: 120%;
right: -50px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.category-slied .prev.slick-arrow{
  right: auto;
  left: -50px;
}


@media screen and (max-width: 480px) {
  
}

/* .category-slied .slick-arrow i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #557495;
  text-align: center;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.category-slied .slick-arrow i:hover{
  background-color: #ffc600;
} */
